/// @type 
$font-stack: "Montserrat", sans-serif !default;
$logo-font: "Roboto", sans-serif;

/// @type Color
$link-color: #c8e1ff !default;

/// @type Color
$hover: #4c2711 !default;

/// @type Color
$brand-color: #643419 !default;
$second-color: #e8cd92 !default;