@use "../abstracts/variables";

.header {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    align-items: center;
    border-bottom: solid 1px variables.$brand-color;
    justify-content: space-between;
    z-index: 10;
    padding: 0 2rem;
    
    a {
        font-family: variables.$logo-font;
        color: variables.$brand-color;
        font-weight: bold;
        font-size: 18px;
    }

    .navbar {
        height: 110vh;
        width: 30%;
        position: fixed;
        top: 0%;
        opacity: 1;
        transition: all .5s ease-in-out;
        background: #d8b76e;
        padding: 4%;
        box-shadow: 0px 0px 15px 0px #272727;

        .title {
            padding: 2% 0%;
            border-bottom: solid 1px #000;
        }

        ul {
            margin-top: 2vh;

            li {
                width: 100%;
                margin-bottom: 6px;
                list-style: none;
                transition: all 0.5s;

                a {
                    font-size: 28px;
                    font-weight: bolder;
                    display: block;
                    text-decoration: none;
                }
            }

            li:hover {
                transform: scale(1.02);
            }
        }
    }

    .navbar.hide {
        left: -60%;
    }

    .navbar.show {
        left: 0%;
    }

    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 35px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        z-index: 10;
    }

    .menu-btn__burger {
        width: 24px;
        height: 4px;
        background:  variables.$brand-color;
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 32px;
        height: 4px;
        background: variables.$brand-color;
        transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before {
        transform: translateY(-8px);
    }
    
    .menu-btn__burger::after {
        transform: translateY(8px);
    }

    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
      
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
      
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}